html, body, #googft-mapCanvas {
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
}

/* #googft {
    /* float: right; */
    position: absolute;
    top: 0px;
} */

#text {
    float: left;
}